{% extends "core/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center bg-info text-white">
            <h2>Sobre Nosotros</h2>
        </div>
        <div class="card-body">
            <h4>Bienvenido a SUPERATEC</h4>
            <p>Este proyecto está dedicado a proporcionar una plataforma integral para la gestión de cursos y usuarios. Nos enfocamos en brindar una experiencia intuitiva y segura para todos nuestros usuarios, permitiéndoles acceder y gestionar sus perfiles de manera eficiente.</p>
            <h4>Nuestro Equipo</h4>
            <p>Somos un equipo de estudiantes informáticos apasionados por la tecnología y la educación. Nuestro objetivo es crear soluciones innovadoras que faciliten el aprendizaje y la administración de información.</p>
            <h4>Nuestra Misión</h4>
            <p>Nuestra misión es empoderar a los educadores y estudiantes a través de herramientas tecnológicas avanzadas, fomentando un entorno de aprendizaje accesible y efectivo para todos.</p>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
