{% extends "core/base.html" %}

{% block content %}

    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center bg-primary text-white">
                <h3>Perfil del Usuario</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Información de la Cuenta</h5>
                        <p><strong>Nombre de Usuario:</strong> {{ user.username }}</p>
                        <p><strong>Email:</strong> {{ user.email }}</p>
                         
                        
                        
                        <p><strong>URL de su Página:</strong> {{user.perfilusuario.url}}</p>
                        <p><strong>Imagen de página</strong></p>
                        {% load static %}
                        <img src="{% static user.capturas.archivo %}" alt="Captura de {{ user.username }}" style="width:70%; border-color: black;">
                        
                    </div>
                    <div class="col-md-4">
                        <h5>Información Personal</h5>
                        <p><strong>Nombre:</strong> {{ user.first_name }}</p>
                        <p><strong>Apellido:</strong> {{ user.last_name }}</p>
                        <p><strong>Cédula:</strong> {{ user.perfilusuario.cedula }}</p>
                        <p><strong>Nacionalidad:</strong> {{ user.perfilusuario.nacionalidad }}</p>
                        <p><strong>Descripción Personal:</strong> {{user.perfilusuario.descripcion | safe}} </p>
                    </div>
                    <div class="col-md-4">
                        <h5>Información Adicional</h5>
                        <p><strong>Fecha de Nacimiento:</strong> {{ user.perfilusuario.fecha_nacimiento }}</p>
                        <p><strong>Dirección:</strong> {{ user.perfilusuario.direccion }}</p>
                        <h5>Redes Sociales</h5>
                        <p><strong>Instagram:</strong> {{ user.perfilusuario.instagram }}</p>
                        <p><strong>Facebook:</strong> {{ user.perfilusuario.facebook }}</p>
                        <p><strong>Twitter(X):</strong> {{ user.perfilusuario.twitter }}</p>
                        <p><strong>Tiktok:</strong> {{ user.perfilusuario.tiktok }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                {% comment %} <a href="{% url 'editar_perfil' %}" class="btn btn-primary">Editar Perfil</a> {% endcomment %}
                <a href="{% url 'home' %}" class="btn btn-secondary">Volver a Inicio</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
